<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user', username=post.author.username) }}" style="color: rgba(31, 140, 249, 1);">
                <img src="{{ post.author.avatar(70) }}" />
            </a>
        </td>
        <td>
            <a href="{{ url_for('user', username=post.author.username) }}" style="color: rgba(31, 140, 249, 1);">
                {{ post.author.username }}
            </a>
            <br>
            <strong>Titel:</strong> {{ post.title }}<br>
            <strong>Info:</strong> {{ post.general_info }}<br>
            <strong>Initiale Bewertung:</strong> {{ post.initial_rating }}/5
            <br>
            <a href="{{ url_for('view_post', post_id=post.id) }}">Details anzeigen</a>
        </td>
    </tr>
</table>
